# Loops
* for
* if
* While

In [ ]:
a = range(0,5)
for i in a:
    print(i)

0
1
2
3
4

In [ ]:
'''
Print the below output using for loop
0 0
1 1
2 4
3 9
4 16 
'''
for i in range(5):
    print(i,i*i)

0 0
1 1
2 4
3 9
4 16

In [ ]:
#if else
a = 10
b = 50
if(a<b):
    print(a)
else:
    print(b)

10

In [ ]:
#while loop

i=0
while (i<5):
    print(i,i*i)
    i=i+1

0 0
1 1
2 4
3 9
4 16

### Functions

In [10]:
def add():
    a = int(input())
    b = int(input())
    c = a+b
    return c

In [11]:
add()

4
4

8

In [12]:
def add(a,b):
    a1 = a
    b1 = b
    c = a1+b1
    return c

In [13]:
add(4,5)

9

In [ ]:
'''Print the below output using functions
0 0
1 1
2 4
3 9
4 16 
'''
def square (val):
    for i in range(val):
        print(i,i*i)
square(5)